//TAILWIND CONFIG

//COLORES
$orangeColor: #FF9F1C;
$lightOrangeColor: #FFBF69;
$whiteColor: #FFFFFF;
$lightCyanColor: #CBF3F0;
$cyanColor: #2EC4B6;
$yellowColor: rgb(255, 255, 43);
$greenColor: rgb(30 215 96);
$blackColor: rgb(25 20 20);
$whiteColor: rgb(255, 255, 255);
$blueColor: rgba(23, 23, 176, 0.854);

//LETRAS
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: "Times New Roman", Times, serif;