@import '../variables/variables.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
    width: 100%;
    height: 100px;
    background-color: $lightOrangeColor;
    .login_btn {
        @apply rounded-full border border-black bg-orange-400 shadow-md shadow-orange-400 py-2.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
    }
    .outline_btn {
        @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
    }
}